<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="/<%= message._id%>" method="post" class="form">
        <label>Name</label>
        <input name="name" value="<%= message.name %>" required />

        <label>Message</label>
        <input name="message" value="<%= message.message %>" required />

        <button class="btn" type="submit">Save</button>
    </form>
</body>
</html>