<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!--Nav bar-->
    <div>

    </div>
    <main>
        <!--title-->
        <h1>GREEK AND ROMAN TRACKER</h1>
        <div class="contain">
            <!--Points-->
            <div class="section1">
                <h2><%= greekPoints %></h2>
                <h2><%= romanPoints %></h2>
                <h3>GREEK POINTS</h3>
                <h3>ROMAN POINTS</h3>
            </div>
            <div class="section1.5">
                <h2>point history</h1>
        
            </div>
            <!--Go to posts, maybe show the most recent four posts-->
            <div class="section2">
                uhhh link to posts ig
            </div>
            <!--submit spirt day photos for points-->
            <div class="section3">
                form for spirt day stuff
            </div>
            <!--fun quiz! (if time)-->
            <div class="section4">
                button to go to fun quiz if we have time to make fun quiz :3
            </div>
            <!--supper secret adimn buton for me you are my fir.-->
            <a href="/adminEnter">admin???</a>
        </div>
    </main>
</body>
</html>